.btn {
    // button main
    &-main{
        width: 214px;
        height: 64px;
        display: flex;
        font-size: 1.8rem;
        border-radius: 2px;
        font-family: Inter;
        align-items: center;
        padding: 0px 2.4rem;
        box-sizing: border-box;
        color: $color-grey-dark-1;
        border: 1px solid #C4C4C4;
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

        &:hover{
            color: $color-grey-dark-1;
            border-color: $color-grey-dark-1;

            img{
            margin-left: 5.9rem;
            }
        }

        img{
            height: 16px;
            width: 9.14px;
            margin-left: 5.4rem;
            transition: all .3s ease-in-out;
        }
    }
    
    // btn border

    &-border{
        display: flex;
        width: 14.6rem;
        font-weight: bold;
        font-size: 1.8rem;
        text-align: right;
        font-style: normal;
        font-family: Inter;
        position: relative;
        align-items: center;
        line-height: 1.8rem;
        letter-spacing: 0.02em;
        padding-bottom: 1.4rem;
        color: $color-grey-dark-1;
         border-bottom: 1px solid $color-grey-dark-1;
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

        &::after{
            content: "";
            width: 0;
            right: 0;
            height: 1px;
            left: auto;
            z-index: 1;
            bottom: -0.1rem;
            position: absolute;
            transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
            background-color: $color-primary;

        }

        &:hover {
            color: $color-grey-dark-1;
            &::after{
                width: 100%;
                left: 0;
            }
            & img{
            margin-left: 2.3rem;
            }
        }
        
        img{
            width: 9.14px;
            height: 16px;
            margin-left: 1.7rem;
            transition: all .3s ease-in-out;
        }
    }
   
}

