@font-face {
    font-family: Galaxie;
    src: url(fonts/GalaxieCopernicus-Book.otf);
  }

  @font-face {
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_slnt,wght.ttf);
  }
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: inherit;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
a{
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block
}
h1,h2,h3,h4,h5,p{
    margin: 0;
    padding:0;
}
html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family:  Galaxie;
    color: $color-grey-dark-1;
}

::selection {
    background-color: $color-primary;
    color: #fff;
}