
.section{
    &__wrapper{
        padding-bottom: 6rem;
        background-color: $bg-pink-dusty;
    }
    &--title{
        font-weight: 700;
        font-family: Inter;
        font-size: 2.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.05em;
        color: $color-primary;
    text-transform: uppercase;
    }
}