.color-primary{
    color:$color-primary;
}
.bg-primary{
    background-color: $color-primary;
}
.color-white{
    color: #fff;
}
.color-green{
    color:$color-tertiary-light;
}
.bg-white{
    background-color: #fff;
}
.text-center{
    text-align: center;
}
.justify-center{
    justify-content: center;
}
.mid-wrap{
    width: 60%;
    margin: auto;
}

.center-fluid{
    max-width: 144rem;
    margin: auto;
}
.padding-center{
    padding:0 12rem;
}
// responsive
.res-desktop{
    display: none;
    @include respond(tablet) {
        display: block;
    }
}
.res-desktopAll{
    display: none !important;
    @include respond(laptopS) {
        display: block !important;
    } 
}
.res-mobile{
    @include respond(laptopS) {
        display: none !important;
    }
}