@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}


// Media Query
@mixin respond($breakpoint) {
    @if $breakpoint == mobile {
        @media only screen and (min-width: 320px) {
            @content;
        } //900px
    }
    @if $breakpoint == tablet {
        @media only screen and (min-width: 768px) {
            @content;
        } //900px
    }

    @if $breakpoint == laptopS {
        @media only screen and (min-width: 1024px) {
            @content;
        } //1200px
    }
    @if $breakpoint == laptopM {
        @media only screen and (min-width: 1200px) {
            @content;
        } //1200px
    }
    @if $breakpoint == LaptopL {
        @media only screen and (min-width: 1440px) {
            @content;
        } //1800
    }
    @if $breakpoint == hd-desktop {
        @media only screen and (min-width: 1800px) {
            @content;
        } //1800
    }
}
