// COLORS
$color-primary: #003A92;
$color-primary-light: #C2181E;
$color-primary-dark: #DE2925;

$color-secondary-light: #5F83CF;
$color-secondary-dark: #112343FC;

$color-tertiary-light: #AACB31;

$color-grey:#C4C4C4;
$color-grey-light:#F7F7F7;
$color-grey-light-1:#fdf0eb;
$color-grey-dark: #74788A;
$color-grey-dark-1 : #3C3C3C;

$color-white:#fff;


// background color

$bg-pink-dusty:#F2EFEE;
$bg-red-dark:#8C2531;
$bg-beige:#D7C3AE;



// FONT
$default-font-size: 1.6rem;


