.footer{
    margin-top: 12rem;
    padding-bottom: 4.1rem;
    background-color: $color-grey-dark-1 ;

    &__navigation{
        padding-top: 7.6rem;

        hr{
            margin-top: 4.5rem;
            background: $color-white;
            opacity: 0.1;
        }

        &-social{
            display: flex;
            align-items: center;
            justify-content: space-between;

           
            
            .navigation__set li a{
                color: $color-white;
                &:hover{
                color: $color-white;
                }
                &::after{
                    background-color: $color-white;
                }
            }

            .header__social--link{
                color: $color-white;

            }


        }
    }

    &__bottom{
        display: flex;
        margin-top: 16.1rem;
        color: $color-white;
        align-items: center;
        justify-content: space-between;
    }
    .policy{
        a{
            opacity: 0.5;
            font-size: 1.4rem;
            line-height: 140%;
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            color: $color-white;
            letter-spacing: 0.02em;
            transition: all .3s ease-in-out;

            &:hover{
                opacity: 1;
            }

             & + a{
                 margin-left: 5.8rem;
             }

        }
    }

    .copy__right{
        p{
            opacity: 0.5;
            color: #FFFFFF;
            font-size: 1.4rem;
            text-align: right;
            line-height: 140%;
            font-style: normal;
            font-weight: normal;
            font-family: Helvetica;
            letter-spacing: 0.02em;

        }
    }
}