.header{
    background-color: $bg-pink-dusty;
    .center-fluid{
        padding: 0 12rem;

    }

    &__social{
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &--link{
            font-size: 16px;
            color: $color-grey-dark;
            transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            -moz-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            -ms-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

            &:not(:first-child){
                margin-left: 3.267rem;
            }
            
            &:hover{
                color: $color-primary;
            }
          
        }
    }
}