
.navigation__set{
    display: flex;
    & li {
        &:not(:first-child){
            margin-left: 5.9rem;
        }
        & a{
            font-weight:500;
            font-size: 1.4rem;
            font-family: Inter;
            position: relative;
            letter-spacing: 0.02em;
            color: $color-grey-dark-1;
            transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            -moz-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            -ms-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

            &::after{
                width: 0;
                left: 50%;
                content: "";
                height: 1px;
                bottom: -8px;
                border-radius: 25px;
                position: absolute;
                background-color:  $color-primary;
                transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
                -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
                -moz-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
                -ms-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
                -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
            &:hover,&.active{
                color:  $color-primary;
                &::after{
                    left: 0;
                    width: 100%;
                }
            }

        }
    }
}
