// banner here

.logo{
    & img{
        display: block;
        width: 148.07px;
        height: 45.91px;
    }
}
.banner{
    padding-left: 6rem;
    
    &-navigation{
        padding-left: 6rem;
        padding-right: 12rem;
        padding-top: 6.909rem;
        padding-bottom: 33.6rem;
        background-color: $color-white;
    }

    &__wrapper{
     
        & nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    // banner body
    &__body{
        display: flex;
        padding-top: 7.7rem;
        align-items: flex-end;
        justify-content: space-between;
        & h1{
            width: 88.5rem;
            font-size: 6.4rem;
            line-height: 7.04rem;
            color: $color-primary;
            letter-spacing: -0.02em;
        }
    }
    // banner image
    &__wrap-img{
        height: 56.5rem;
        padding-left: 9rem;
        position: relative;
        margin-top: -25.6rem;
    }
    &-img{
        right: 0;
        width: 100%;
        height: 56.5rem;
        position: absolute;
        padding-left: 6rem;
    }
}

// blog

.blog{
    padding-top: 12rem;
    
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__wrap{
        width: 50%;
    }
    &--left{
        & .section--title{
            margin-top: 9.8rem;
            margin-bottom: 6rem;
        }
    }
    &__items{
        padding: 4rem;
        display: block;
        &:hover{
            &  .blog--title{
               color: $color-primary;
           }
        }

        &--left{
            padding-bottom: 9.1rem;
            border: 2px solid $color-white;
            border-right: none;

        }
        &--rightTop{
            border: 2px solid $color-white;
            border-left: none;
        }
        &--rightBottom{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &--small{
            width: 50%;
            padding: 4rem;

            &:hover {
               & .blog--title-sub{
                    color: $color-primary;
                }
            }

             & picture{
                height: 220px;
                display: block;
            }
            &:first-child{
                border: 2px solid $color-white;
                border-top: 0;
                border-left: 0;
            }
            &:last-child{
                border-right: 2px solid $color-white;
                border-bottom: 2px solid $color-white;
            }
        }
       
    }
    &--right{
        border-left: 2px solid $color-white;
        
    }
    // blog content
    &__content{
        margin-top: 2rem;
    }
    &__date{
        font-size: 1.4rem;
        font-family: Inter;
        line-height: 1.4rem;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 0.05em;
        color: $color-grey-dark;
        text-transform: uppercase;

        & + span{
            margin-left: 4rem;
        }
    }
    &--title{
        font-size: 4.4rem;
        line-height: 120%;
        font-style: normal;
        margin-top: 1.6rem;
        font-weight: normal;
        letter-spacing: -0.02em;
        color:$color-grey-dark-1;
        transition: all .3s ease-in-out;

        &-sub{
            font-size: 1.8rem;
            line-height: 140%;
            margin-top: 1.6rem;
            font-style: normal;
            font-weight: normal;
            letter-spacing: -0.01em;
            color:$color-grey-dark-1;
            transition: all .3s ease-in-out;
        }
    }
    &__btn{
        margin-top: 4rem;
    }
}


// our-mission
.our-mission{
   padding-right: 6rem;
    &__text{
        margin-top: 12rem;
        padding-top: 8rem;
        color: $color-white;
        padding-left: 12rem;
        padding-right: 6rem;
        padding-bottom: 36.3rem;
        background-color: $bg-red-dark;

    }

    &__wrapper{
    width: 78rem;
    
    & h3{
        margin-top: 3.2rem;
        font-size: 4.4rem;
        line-height: 120%;
        font-weight: normal;
        font-style: normal;
    }
    & p{
        margin-top: 2rem;
        font-style: normal;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 140%;
        letter-spacing: -0.01em;
    }

    }

    & .section--title{
        color: $color-white;
    }
    .banner-img{
        left: 0;
        right: unset;
        padding-left: 0;
        padding-right: 6rem;
    }
}


// beneficiaries style
.beneficiaries{
    padding-top: 8rem;
    padding-bottom: 19.3rem;
    &__wrapper{
        padding-left: 12rem;
    }
    &__list{
        margin-top: 4.7rem;
    }
    &--item{
        padding-right: 6rem;
        p{
            margin-top: 2rem;
            font-size: 1.8rem;
            line-height: 140%;
            font-style: normal;
            font-weight: normal;
            letter-spacing: -0.01em;
            color: $color-grey-dark-1;
        }
    }
    &-slider{
       margin-left: -5rem;
    }
}


// founders
.founders{
    &__wrapper{
        padding-top: 8rem;
        padding-bottom: 36.6rem;
        background-color: $bg-beige;
    }
    .section--title{
        color:$color-white;
    }
    &__profile{
        padding: 0 6rem;
        margin-top: -30.6rem;
    }
    &-img{
        display: flex;
        padding:0 6rem;
        height: 56.5rem;
        align-items: flex-end;
        padding-bottom: 7.7rem;
        justify-content: flex-start;
        background-image: url('../../assets/image/founders.jpg');
    }
    &--name{
       width: 100%;
       color: $color-white;
       h3{
        font-size: 4.4rem;
        line-height: 120%;        
        font-style: normal;
        font-weight: normal;
        letter-spacing: -0.02em;
       }
       h5{
           font-size: 4.4rem;
           line-height: 120%;        
           font-weight: normal;
        letter-spacing: -0.02em;
       }
       hr{
           opacity: 0.2;
           border-color: $color-white;
       }
    }
   
}


// Gallery

.gallery{
    padding-top: 11.2rem;
    .section--title{
        margin-bottom: -5.2rem;
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
    }
    &--items{
        width: calc(100% / 3);
        &:first-child{
            display: flex;
            align-items: center;
            .gallery__thumb{
                border-right: 0;
            }
        }
        &:last-child{
           
            .gallery__thumb{
                border-left: 0;
            }
        }
    }
    &__thumb{
        padding: 4rem;
        border: 1px solid $color-grey-light-1;
        p{
            margin-top: 1.2rem;
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 140%;
            letter-spacing: 0.02em;
            color:$color-grey-dark;

        }
    }
}